html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(0,43,54);
    font-family: 'Oswald', sans-serif;
}
.container {
    min-width: 320px;
    background-color: rgb(7,54,66);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: stretch;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.header,.main,.footer {
    margin: 2px;
    padding: 0;
}

.header {
    background-color: rgb(88, 110, 117);
    display: flex;
    flex-flow: row wrap;
    min-height: 10ch;
    width: calc(100% - 6px);
    justify-content: flex-end;
    align-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 1.5ch;
    }
}

.main {
    flex: 2;
    background-color: rgb(74, 116, 129);
}
.footer {
    display: flex;
    flex-flow: row;
    max-height: 4ch;
    justify-content: space-between;
    background-color: rgb(88, 110, 117);
}
.footer > img {
    height: 100%;
    width: auto;
}
#navbar {
    align-self: flex-end;
    font-size: 3ch;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    color: white;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    text-align: right;
}
#navbar > ul > li {
    margin-left: 1ch;
    background-color: rgba(200,0,0,0);   
    width: fit-content;
    padding: 1ch;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    position: relative;
    text-decoration: none;
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar > ul > li:hover {
    animation-name: anim_trans_to_red;
    animation-duration: 2s;
    background-color: rgba(255,0,0,1);
    color: white;
}
@keyframes anim_trans_to_red {
    0%   {background-color: rgba(255,0,0,0);}
    100% {background-color: rgba(255,0,0,1);}
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 6px;
}
.dropdown-content {
    border-radius: 4px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    right: 0;
    z-index: 1;
    width: 100%;
    line-height: 3ch;
    color: black;
    font-size: 1.5ch;
}
  .dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.dropdown-content li {
    padding: 1ch;
    border-radius: 6px;

}
.dropdown-content li:hover {
    animation-name: anim_trans_to_red;
    animation-duration: 2s;
    background-color: rgba(255,0,0,1);
}
.dropdown-content span {
    color: black;
}
.dropdown-content li:hover span {
    color: white;
}
.dropdown:hover .dropdown-content {
    display: flex;
    width: fit-content;
}
