.page-0-container {
    background-color: rgb(121, 75, 20);
    width: 100%;
    height: 100%;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-auto-rows: 256px;
    /* grid-template-areas: 
        "icon0 icon1 area1 area1"
        "icon2 icon3 area1 area1"
    ; */

    /* overflow: auto;
    min-width: 0;
    min-height: 0; */
    /* grid-template-columns: minmax(256px, 1fr) minmax(256px, 1fr) minmax(256px, 1fr) minmax(256px, 1fr); */
    /* grid-auto-rows: minmax(256px, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); */
    /* overflow-y: scroll; */
    /* align-items: center; */
    /* grid-auto-flow: row; */
    /* grid-template-columns: unset;
    grid-template-rows: unset; */
}
.icon0  {
    /* grid-area: icon0; */
    background-color: cornflowerblue;
}
.icon1  {
    /* grid-area: icon1; */
    background-color: crimson;
}
.icon2  {
    /* grid-area: icon2; */
    background-color: cyan;
}
.icon3  {
    /* grid-area: icon3; */
    background-color: darkblue;
}
.area1  {
    /* grid-area: area1; */
    background-color: darkkhaki;
}








.page-0-container > div {
    background-color: tomato;
    overflow: auto;
}

