.page-0-container {
    display: flex;
    background-color: rgb(121, 75, 20);
    flex-flow: column;
    width: 100%;
    height: 100%;
}
.root {
    background-color: rgb(84, 139, 0);
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(auto-fill, auto);
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;

}
/* .root > div {
    flex: 1;
    margin: 0;
    padding: 0;
} */

.wrap {
    margin: 0;
    padding: 0;
    background-color: greenyellow;
    display: grid;
    gap:0;
    border: 0;
    width: 50%;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

