html, body {
    background-color: #797979;
    background-image:  repeating-radial-gradient( circle at 50% 100%, transparent 0, #000000 10px ), repeating-linear-gradient( #54545455, #545454 );
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 320px;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.header,.main,.footer {
    display: flex;
    margin-bottom: 0.2rem;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    background-color: rgb(94, 206, 240);
    transition: all 0.4s ease-in-out;
    width: calc( 100% - 1ch);
}
.header {
    flex: 3;
}
.main {
    flex: 0.6;
    display: flex;
    overflow: auto;
    height: 100%;
    background-color: rgb(94, 206, 240);
    
    border: 0.3rem rgba(0, 0, 0, 0.75) solid;
}

