.header-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;  /* y */
    align-self: flex-start;
    flex-flow: row wrap;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 60, 116,0.5);
}
.navbar_menu {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid red;
    /* align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar_menu > li:hover {
    animation-name: anim_trans_to_red;
    animation-duration: 1s;
    background-color: rgba(255,0,0,1);
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

@keyframes anim_trans_to_red {
    0%   {background-color: rgba(255,0,0,0);}
    100% {background-color: rgba(255,0,0,1);}
}

.navbar_menu_item, .navbar_menu_sub_item, .navbar_menu_button {
    overflow-wrap: break-word;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: fit-content;
    height: min-content;
    margin-left: 1ch;
    padding: 0.5ch;
    /* font-size: calc(0.5rem + 2vw); */
    /* transition-property: all;
	transition-duration: .5s; */
    /* transition: all 0.4s ease-in-out; */
}


.navbar_menu_item {
    display: inline-block;
    color: white;
    background-color: transparent;
}

.navbar_menu_sub_item {
    margin-left: 0;
    margin-right: 0;
    display: none;
    color: white;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar_menu_button {
    display: inline-block;
    background-color: rgba(0, 255, 0, 0.2);
    color: white;
}



/* 
@media only screen and (max-width: 940px) {
    .navbar_menu > li {
        font-size: calc(3ch/2);
        transition: ease all .5s;    
    }
}
@media only screen and (min-width: 9400px) {
    .footer-container > * {
        transition: ease all .5s;    
    }
} */



/* .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    display: none;
    width: 100%;
    border-radius: 6px;
    background-color: #f9f9f9;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 12px;
    right: 0px;
    z-index: 1;
    line-height: 3ch;
    font-size: 1.5ch;
}

  .dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.dropdown-content li {
    padding: 1ch;
    border-radius: 6px;
}
.dropdown-content li:hover {
    animation-name: anim_trans_to_red;
    animation-duration: 2s;
    background-color: rgba(255,0,0,1);
}
.dropdown-content span {
    color: black;
}
.dropdown-content li:hover span {
    color: white;
}
.dropdown:hover .dropdown-content {
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 2ch;
}

.dropdown-content:active {
    display: flex;
} */